<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/gamelist/css/style.css">
    <title>Game Rank</title>
</head>
<body>
    <div class = "container">
        <a href="#supra"> Link Nowhere </a>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>

        <div class="parallax"></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
        <div class="parallax2"></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>

        <p> Pharoah Game Ranks </p>

        <ol>
            <li>Ratchet and Clank</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
            <li id = "supra"> Supra spot</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
            <li>Halo</li>
        </ol>
        
        <div class="parallax2"></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt dignissimos rem quae iure natus laboriosam hic recusandae quia? Magni assumenda aspernatur pariatur debitis maxime eaque deleniti nulla provident laboriosam!</p>
    </div>
</body>
</html>